{{ header }}

<section class="page_default">
	<div class="container">
		<div class="page_content" style="text-align: center;">
			<div class="thanks_icon">
				<img src="catalog/view/theme/lydiiase/assets/img/thanks_icon.svg" alt="{{ heading_title }}">
			</div>
			<div class="thanks_title">{{ heading_title }}</div>
			<div class="thanks_text">
				{{ text_message }}

			</div>

		</div>
	</div>
</section>

{{ footer }}
