{{ header }}

<section class="page_default" id="product">
	<div
		class="container">
		{# Хлебные крошки #}
		<div class="crumbs">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.last %}
					<div class="crumb">{{ breadcrumb.text }}</div>
				{% else %}
					<a href="{{ breadcrumb.href }}" class="crumb">{{ breadcrumb.text }}</a>
				{% endif %}
			{% endfor %}
		</div>

		<a href="javascript:history.back();" class="page_back">
			<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.2082 17.8561C13.3594 17.8561 13.5141 17.7963 13.6301 17.6803C13.8621 17.4483 13.8621 17.0686 13.6301 16.8365L5.68828 8.89475L13.5141 1.06897C13.7461 0.836941 13.7461 0.457253 13.5141 0.225222C13.282 -0.00680923 12.9023 -0.00680923 12.6703 0.225222L4.41914 8.47288C4.18711 8.70491 4.18711 9.0846 4.41914 9.31663L12.7828 17.6803C12.9023 17.7998 13.0535 17.8561 13.2082 17.8561Z" fill="black"/>
			</svg>
		</a>

		<div class="card_wrapper">
			<div
				class="card_left">
				{# Миниатюры (Dots) #}
				<div class="card_dots-wrapper">
					<div thumbsslider="" class="swiper card_dots">
						<div class="swiper-wrapper">
							{% if thumb %}
								<div class="swiper-slide card_dot">
									<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
								</div>
							{% endif %}
							{% for image in images %}
								<div class="swiper-slide card_dot">
									<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="card_dots-arrow prev"><img src="catalog/view/theme/lydiiase/assets/img/arrow_up.svg" alt=""></div>
					<div class="card_dots-arrow next"><img src="catalog/view/theme/lydiiase/assets/img/arrow_donw.svg" alt=""></div>
				</div>

				{# Основной слайдер #}
				<div class="swiper card_imgs">
					<div class="swiper-wrapper">
						{% if thumb %}
							<a href="{{ popup }}" data-fancybox="gallery" class="swiper-slide card_img">
								<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
							</a>
						{% endif %}
						{% for image in images %}
							<a href="{{ image.popup }}" data-fancybox="gallery" class="swiper-slide card_img">
								<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="card_right">
				<h1 class="card_title">{{ heading_title }}</h1>
				<div class="card_subtitle">{{ model }}</div>

				{# Вывод атрибутов (Размер, Материал) #}
				{% if attribute_groups %}
					{% for attribute_group in attribute_groups %}
						{% for attribute in attribute_group.attribute %}
							{% if attribute.name != 'Рекомендации по уходу' %}
								<div class="card_option">{{ attribute.name }}
									<span>{{ attribute.text }}</span>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}

				{# Опции (Цвет) #}
				{% if options %}
					{% for option in options %}
						{% if option.type == 'radio' %}
							<div class="card_colors" id="input-option{{ option.product_option_id }}">
								<div class="card_color-title">{{ option.name }}:
									<span id="option-value-name">Выберите цвет</span>
								</div>
								{% for option_value in option.product_option_value %}
									{% set color_parts = option_value.name|split('|') %}
									{% set color_code = color_parts[0]|trim %}
									{% set color_name = color_parts[1] is defined ? color_parts[1]|trim : color_code %}
									<label class="card_color">
										<input
										type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-name="{{ color_name }}" {% if loop.first %} checked {% endif %}>
										{# Этот код делает первый цвет выбранным #}
										<span style="background-color: {{ color_code }};"></span>
									</label>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}

				{# Цена #}
				{% if price %}
					<div class="catalog_item-price">
						{% if not special %}
							{{ price }}
						{% else %}
							{{ special }}
							<span>{{ price }}</span>
						{% endif %}
					</div>
				{% endif %}

				{# Кнопка купить #}
				<input type="hidden" name="product_id" value="{{ product_id }}"/>
				<input type="hidden" name="quantity" value="{{ minimum }}"/>
				<button type="button" id="button-cart" class="card_btn btn">
					В корзину
					<svg width="27" height="32" viewbox="0 0 27 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.883 28.6889H21.2918C21.9703 28.6889 22.5224 28.1367 22.5224 27.4582V11.0494C22.5224 10.3709 21.9703 9.81879 21.2918 9.81879H19.2407C19.0142 9.81879 18.8305 10.0026 18.8305 10.229C18.8305 10.4554 19.0142 10.6392 19.2407 10.6392H21.2918C21.5174 10.6392 21.702 10.8231 21.702 11.0494V27.4582C21.702 27.6847 21.5174 27.8684 21.2918 27.8684H4.883C4.65738 27.8684 4.47278 27.6847 4.47278 27.4582V11.0494C4.47278 10.823 4.65738 10.6392 4.883 10.6392H6.9341C7.16054 10.6392 7.34432 10.4554 7.34432 10.229C7.34432 10.0026 7.16054 9.81879 6.9341 9.81879H4.883C4.2045 9.81879 3.65234 10.371 3.65234 11.0494V27.4582C3.65234 28.1367 4.2045 28.6889 4.883 28.6889Z" fill="black"/>
						<path d="M8.98444 15.9456C9.21088 15.9456 9.39466 15.7618 9.39466 15.5354V9.5987C9.39466 7.44341 11.0511 5.69013 13.0866 5.69013C15.1221 5.69013 16.7786 7.44341 16.7786 9.5987V15.5354C16.7786 15.7618 16.9624 15.9456 17.1888 15.9456C17.4153 15.9456 17.599 15.7618 17.599 15.5354V9.5987C17.599 6.99134 15.5742 4.86969 13.0866 4.86969C10.5991 4.86969 8.57422 6.99134 8.57422 9.5987V15.5354C8.57422 15.7618 8.758 15.9456 8.98444 15.9456Z" fill="black"/>
						<path d="M11.0352 9.81879C10.8088 9.81879 10.625 10.0026 10.625 10.229C10.625 10.4554 10.8088 10.6392 11.0352 10.6392H15.1374C15.3639 10.6392 15.5476 10.4554 15.5476 10.229C15.5476 10.0026 15.3639 9.81879 15.1374 9.81879H11.0352Z" fill="black"/>
					</svg>
				</button>
			</div>
		</div>
	</div>

	{# Блоки FAQ #}
	<div class="card_faq">
		<div class="container">
			<div class="card_faq-items">
				<div class="card_faq-item">
					<div class="card_faq-title">Описание</div>
					<div class="card_faq-text">{{ description }}</div>
				</div>

				{# Рекомендации по уходу из атрибутов #}
				{% if attribute_groups %}
					{% for attribute_group in attribute_groups %}
						{% for attribute in attribute_group.attribute %}
							{% if attribute.name == 'Рекомендации по уходу' %}
								<div class="card_faq-item">
									<div class="card_faq-title">{{ attribute.name }}</div>
									<div class="card_faq-text">{{ attribute.text }}</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}

				<div class="card_faq-item">
					<div class="card_faq-title">Оплата</div>
					<div class="card_faq-text">{{ payment_text }}</div>
				</div>

				<div class="card_faq-item">
					<div class="card_faq-title">Доставка</div>
					<div class="card_faq-text">{{ delivery_text }}</div>
				</div>
			</div>
		</div>
	</div>
</section>

{# Секция "Смотрели недавно" #}
{% if recently_viewed_products %}
	<section class="other">
		<div class="container">
			<h2 class="title">Смотрели недавно</h2>
			<div class="bestsellers_items swiper-recently">
				<div class="swiper-wrapper">
					{% for product in recently_viewed_products %}
						<div class="catalog_item swiper-slide">
							<div class="catalog_item-slider">
								<div class="catalog_item-slide">
									<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" alt="{{ product.name }}">
									</a>
								</div>
							</div>
							<div class="catalog_item-title">
								<a href="{{ product.href }}">{{ product.name }}</a>
							</div>
							<div class="catalog_item-price">
								{% if not product.special %}
									{{ product.price }}
								{% else %}
									{{ product.special }}
									<span>{{ product.price }}</span>
								{% endif %}
							</div>
							<div class="catalog_item-subtitle">{{ product.model }}</div>
							<a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}');" class="catalog_item-btn btn">
								В корзину
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}


<script
	type="text/javascript">
	<!--
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
$.ajax({
url: 'index.php?route=product/product/getRecurringDescription',
type: 'post',
data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
dataType: 'json',
beforeSend: function () {
$('#recurring-description').html('');
},
success: function (json) {
$('.alert-dismissible, .text-danger').remove();

if (json['success']) {
$('#recurring-description').html(json['success']);
}
}
});
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('#button-cart').on('click', function () {
$.ajax({
url: 'index.php?route=checkout/cart/add',
type: 'post',
data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
dataType: 'json',
beforeSend: function () {
$('#button-cart').button('loading');
},
complete: function () {
$('#button-cart').button('reset');
},
success: function (json) {
$('.alert-dismissible, .text-danger').remove();
$('.form-group').removeClass('has-error');

if (json['error']) {
if (json['error']['option']) {
for (i in json['error']['option']) {
var element = $('#input-option' + i.replace('_', '-'));

if (element.parent().hasClass('input-group')) {
element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
} else {
element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
}
}
}

if (json['error']['recurring']) {
$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
}

// Highlight any found errors
$('.text-danger').parent().addClass('has-error');
}

if (json['success']) {
$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

$("#cart-total-items").text(json["total_items"]);
$('html, body').animate({
scrollTop: 0
}, 'slow');

$('#cart > ul').load('index.php?route=common/cart/info ul li');
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

$('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});

$('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});

$('button[id^=\'button-upload\']').on('click', function () {
var node = this;

$('#form-upload').remove();

$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

$('#form-upload input[name=\'file\']').trigger('click');

if (typeof timer != 'undefined') {
clearInterval(timer);
}

timer = setInterval(function () {
if ($('#form-upload input[name=\'file\']').val() != '') {
clearInterval(timer);

$.ajax({
url: 'index.php?route=tool/upload',
type: 'post',
dataType: 'json',
data: new FormData($('#form-upload')[0]),
cache: false,
contentType: false,
processData: false,
beforeSend: function () {
$(node).button('loading');
},
complete: function () {
$(node).button('reset');
},
success: function (json) {
$('.text-danger').remove();

if (json['error']) {
$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
}

if (json['success']) {
alert(json['success']);

$(node).parent().find('input').val(json['code']);
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
}
}, 500);
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('#review').delegate('.pagination a', 'click', function (e) {
e.preventDefault();

$('#review').fadeOut('slow');

$('#review').load(this.href);

$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=           {{ product_id }}');

$('#button-review').on('click', function () {
$.ajax({
url: 'index.php?route=product/product/write&product_id=           {{ product_id }}',
type: 'post',
dataType: 'json',
data: $("#form-review").serialize(),
beforeSend: function () {
$('#button-review').button('loading');
},
complete: function () {
$('#button-review').button('reset');
},
success: function (json) {
$('.alert-dismissible').remove();

if (json['error']) {
$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
}

if (json['success']) {
$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

$('input[name=\'name\']').val('');
$('textarea[name=\'text\']').val('');
$('input[name=\'rating\']:checked').prop('checked', false);
}
}
});
});

$(document).ready(function () {
$('.thumbnails').magnificPopup({
type: 'image',
delegate: 'a',
gallery: {
enabled: true
}
});
});
//
	-->
</script>

<script
	type="text/javascript">
	<!--
	$(document).ready(function () {
/**
     * 1. ЛОГИКА ВЫБОРА ЦВЕТА
     */
// Обновляем текст в заголовке при клике на кружочек цвета
$('.card_color input[type="radio"]').on('change', function () {
var selectedColorName = $(this).data('name');
if (selectedColorName) { // Находим элемент, где написано "Выберите цвет" и меняем текст
$('#option-value-name').text(selectedColorName);
}
});

// Принудительно вызываем событие change для первого (уже выбранного) элемента,
// чтобы при загрузке страницы сразу подставилось название цвета
$('.card_color input[type="radio"]:checked').trigger('change');
});
//
	-->
</script>


{{ footer }}
