{{ header }}
<section class="page_default">
	<div
		class="container">
		{# Хлебные крошки #}
		<div class="crumbs">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.last %}
					<div class="crumb">{{ breadcrumb.text }}</div>
				{% else %}
					<a href="{{ breadcrumb.href }}" class="crumb">{{ breadcrumb.text }}</a>
				{% endif %}
			{% endfor %}
		</div>

		<div class="catalog_content-top">
			<h1 class="title">{{ heading_title }}</h1>
			{% if products %}
				<div class="catalog_content-value">Найдено:
					{{ product_total }}
					товаров</div>
			{% endif %}
		</div>

		{# Обертка без aside #}
		<div class="catalog_wrapper catalog_wrapper--search">
			<div class="catalog_content">
				{% if products %}
					<div class="catalog_items search_grid">
						{% for product in products %}
							<div class="catalog_item">
								<div class="catalog_item-slider swiper">
								<a href="{{ product.href }}" class="catalog_item-link"></a>
									<div class="swiper-wrapper">
										{% for image in product.images %}
											<div class="catalog_item-slide swiper-slide">
												<img src="{{ image }}" alt="{{ product.name }}">
											</div>
										{% endfor %}
									</div>
									<div class="catalog_item-pagination"></div>
								</div>

								<a href="{{ product.href }}" class="catalog_item-title">{{ product.name }}</a>

								<div class="catalog_item-price">
									{% if not product.special %}
										{{ product.price }}
									{% else %}
										{{ product.special }}
										<span>{{ product.price }}</span>
									{% endif %}
								</div>

								{% if product.category %}
									<div class="catalog_item-subtitle">Категория:
										{{ product.category }}</div>
								{% endif %}

								{% if product.colors %}
									<div class="catalog_item-colors">
										<div class="catalog_item-colors_title">Цвет:</div>
										{% for color in product.colors %}
											<div class="catalog_item-color" style="background: {{ color.color_code }};" title="{{ color.name }}"></div>
										{% endfor %}
									</div>
								{% endif %}

								<button type="button" class="catalog_item-btn btn" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
									В корзину
									<svg width="27" height="32" viewbox="0 0 27 32" fill="none">
										<path d="M4.883 28.6889H21.2918C21.9703 28.6889 22.5224 28.1368 22.5224 27.4583V11.0495C22.5224 10.371 21.9703 9.81885 21.2918 9.81885H19.2407C19.0142 9.81885 18.8305 10.0026 18.8305 10.2291C18.8305 10.4555 19.0142 10.6393 19.2407 10.6393H21.2918C21.5174 10.6393 21.702 10.8231 21.702 11.0495V27.4583C21.702 27.6847 21.5174 27.8685 21.2918 27.8685H4.883C4.65738 27.8685 4.47278 27.6847 4.47278 27.4583V11.0495C4.47278 10.8231 4.65738 10.6393 4.883 10.6393H6.9341C7.16054 10.6393 7.34432 10.4555 7.34432 10.2291C7.34432 10.0026 7.16054 9.81885 6.9341 9.81885H4.883C4.2045 9.81885 3.65234 10.371 3.65234 11.0495V27.4583C3.65234 28.1368 4.2045 28.6889 4.883 28.6889Z" fill="black"/>
										<path d="M8.98541 15.9457C9.21186 15.9457 9.39563 15.7619 9.39563 15.5355V9.59876C9.39563 7.44347 11.0521 5.69019 13.0876 5.69019C15.1231 5.69019 16.7796 7.44347 16.7796 9.59876V15.5355C16.7796 15.7619 16.9634 15.9457 17.1898 15.9457C17.4162 15.9457 17.6 15.7619 17.6 15.5355V9.59876C17.6 6.99141 15.5752 4.86975 13.0876 4.86975C10.6 4.86975 8.5752 6.99141 8.5752 9.59876V15.5355C8.5752 15.7619 8.75897 15.9457 8.98541 15.9457Z" fill="black"/>
									</svg>
								</button>
							</div>
						{% endfor %}
					</div>
					<div class="pagination_wrapper">
						{{ pagination }}
					</div>
				{% else %}
					<p class="empty_text">К сожалению, по вашему запросу ничего не найдено.</p>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{{ footer }}
