{#
 * Brainy Filter Ultimate 5.1.4 oc3.x / oc3x.ru 
 * Copyright 2016-2018 ПЕРЕВОД / oc3x.ru
 * License: Commercial. Reselling of this software or its derivatives is not allowed. You may use this software for one website ONLY including all its subdomains if the top level domain belongs to you and all subdomains are parts of the same OpenCart store. 
 * Support: http://support.giantleaplab.com 
#}
{% set isHorizontal = layout_position is same as ('content_top') or layout_position is same as ('content_bottom') %}
{% set isResponsive = settings['style']['responsive']['enabled'] ? true : false %}
{% set responsivePos = settings['style']['responsive']['position'] is same as ('right') ? 'bf-right' : 'bf-left' %}

<style type="text/css">
	.bf-responsive.bf-active.bf-layout-id-{{layout_id}}.bf-check-position {
		top: {{settings['style']['responsive']['offset']|number_format}}
		px;
	}
	.bf-responsive.bf-active.bf-layout-id-{{layout_id}}.bf-btn-show, .bf-responsive.bf-active.bf-layout-id-{{layout_id}}.bf-btn-reset {
		top: {{settings['style']['responsive']['offset']|number_format}}
		px;
	}
	.bf-layout-id-{{layout_id}}.bf-btn-show {
		{% if settings['style']['resp_show_btn_color']['val'] is defined %}
			background: {{settings['style']['resp_show_btn_color']['val']}}
			;
		{% endif %}
	}
	.bf-layout-id-{{layout_id}}.bf-btn-reset {
		{% if settings['style']['resp_reset_btn_color']['val'] is defined %}
			background: {{settings['style']['resp_reset_btn_color']['val']}}
			;
		{% endif %}
	}
	.bf-layout-id-{{layout_id}}.bf-attr-header {
		{{settings['style']['block_header_background']['val'] is defined  ? 'background: ' ~ settings['style']['block_header_background']['val'] ~ ';':''}}
		{{settings['style']['block_header_text']['val'] is defined ? 'color: ' ~ settings['style']['block_header_text']['val'] ~ ';':''}}
	}
	.bf-layout-id-{{layout_id}}.bf-count {
		{{settings['style']['product_quantity_background']['val'] is defined ? 'background: ' ~ settings['style']['product_quantity_background']['val'] ~ ';':''}}
		{{settings['style']['product_quantity_text']['val'] is defined ? 'color: ' ~ settings['style']['product_quantity_text']['val'] ~ ';':''}}
	}
	.bf-layout-id-{{layout_id}}.ui-widget-header {
		{{settings['style']['price_slider_area_background']['val'] is defined ? 'background: ' ~ settings['style']['price_slider_area_background']['val'] ~ ';':''}}
	}
	.bf-layout-id-{{layout_id}}.ui-widget-content {
		{{settings['style']['price_slider_background']['val'] is defined ? 'background: ' ~ settings['style']['price_slider_background']['val'] ~ ';':''}}
		{{settings['style']['price_slider_border']['val'] is defined ? 'border:1px solid' ~ settings['style']['price_slider_border']['val'] ~ ';':''}}
	}
	.bf-layout-id-{{layout_id}}.ui-state-default {
		{{settings['style']['price_slider_handle_background']['val'] is defined ? 'background:' ~ settings['style']['price_slider_handle_background']['val'] ~ ';':''}}
		{{settings['style']['price_slider_handle_border']['val'] is defined ? 'border:1px solid' ~ settings['style']['price_slider_handle_border']['val'] ~ ';':''}}
	}
	.bf-layout-id-{{layout_id}}.bf-attr-group-header {
		{{settings['style']['group_block_header_background']['val'] is defined ? 'background:' ~ settings['style']['group_block_header_background']['val'] ~ ';':''}}
		{{settings['style']['group_block_header_text']['val'] is defined ? 'color:' ~ settings['style']['group_block_header_text']['val'] ~ ';':''}}
	}
	{% if settings['behaviour']['hide_empty'] %}
		> .bf-layout-id-{{layout_id}}.bf-row.bf-disabled, .bf-layout-id-{{layout_id}}.bf-horizontal .bf-row.bf-disabled {
			display: none;
		}
	{% endif %}
</style>
{% if filters|length %}
	<div class="catalog_aside bf-panel-wrapper {% if isResponsive %} bf-responsive {% endif %} {{ responsivePos }} bf-layout-id-{{ layout_id }}">
    
    <form class="bf-form" method="get" action="index.php">
        {# Скрытые системные поля #}
        <input type="hidden" name="route" value="{{ currentRoute is same as ('product/search') ? 'product/search' : 'product/category' }}" />
        {% if currentPath %}<input type="hidden" name="path" value="{{ currentPath }}" />{% endif %}
        {% if manufacturerId %}<input type="hidden" name="manufacturer_id" value="{{ manufacturerId }}" />{% endif %}

        {% for i, section in filters %}
            <div class="catalog_aside-item bf-attr-block">
                
                {# Заголовки секций #}
                <div class="catalog_aside-title {% if section['type'] != 'price' %}catalog_aside-tab{% endif %} bf-attr-header {% if section['collapsed'] %}bf-collapse{% endif %}">
                    {% if section['type'] == 'price' %}{{ lang_price }}{% elseif section['type'] == 'search' %}{{ lang_search }}{% elseif section['type'] == 'category' %}{{ lang_categories }}{% else %}{{ section['array']|first.name }}{% endif %}
                </div>

                <div class="bf-attr-block-cont">
                    {# --- БЛОК ЦЕНЫ --- #}
                    {% if section['type'] == 'price' %}
                        <div class="catalog_filter-slider bf-price-container">
                            <div class="catalog_filter-price bf-slider-range" data-slider-type="3"></div>
                            
                            <div class="filter_slider-value min">
														    <span id="bf-range-min-label-{{ layout_id }}" class="bf-range-min-label">{{ lowerlimit }}</span> {{ currency_symbol }}
														</div>
														<div class="filter_slider-value max">
														    <span id="bf-range-max-label-{{ layout_id }}" class="bf-range-max-label">{{ upperlimit }}</span> {{ currency_symbol }}
														</div>
                            
                            <input type="text" class="filter_slider-inp min-inp bf-range-min" name="bfp_price_min" value="{{ lowerlimit }}">
                            <input type="text" class="filter_slider-inp max-inp bf-range-max" name="bfp_price_max" value="{{ upperlimit }}">
                        </div>

                    {# --- БЛОК КАТЕГОРИЙ И АТРИБУТОВ (ЧЕКБОКСЫ) --- #}
                    {% else %}
                        <div class="filter_checks">
                            {% set groupData = section.type == 'category' ? section.values : (section.array|first).values %}
                            {% set groupUID = section.type == 'category' ? 'c0' : section.type|slice(0, 1) ~ (section.array|keys|first) %}

                            {% for value in groupData %}
													    {% set valId = value.id %}
													    {% set isSelected = selected[groupUID] is defined and valId in selected[groupUID] %}
													    
													    {# 1. Сначала определяем объект группы, чтобы достать из него mode #}
													    {% set group = section.array|first %}
													    
													    {# 2. Проверяем: это опция с картинкой ИЛИ в значении есть картинка #}
													    {% set isColor = (section.type == 'option' or section.type == 'attribute') and 
													       (group.mode == 'img' or group.mode == 'img_label' or value.image) %}

													    <label class="filter_check {{ isColor ? 'filter_check-color' : '' }} {% if totals is defined and not totals[groupUID][valId] and not isSelected %}disabled{% endif %}">
													        <input type="checkbox" 
													               name="bfp_{{ groupUID }}{{ section.type == 'category' or section.type == 'attribute' ? '_' ~ valId : '' }}" 
													               value="{{ valId }}"
													               {% if isSelected %}checked="checked"{% endif %}
													               id="bf-attr-{{ groupUID }}_{{ valId }}_{{ layout_id }}">
													        
													        {# Если есть изображение (цвет), выводим span с фоном #}
													        {% if value.image %}
													            <span style="background-image: url('image/{{ value.image }}'); background-size: cover; background-color: #eee;"></span>
													        {% else %}
													            <span></span>
													        {% endif %}
													        
													        {# Очистка названия от HEX-кода #}
													        {{ value.name|split('|')|last|trim }}
													    </label>
													{% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {# --- КНОПКИ --- #}
        <button class="catalog_aside-btn btn bf-buttonsubmit" onclick="BrainyFilter.sendRequest(jQuery(this)); return false;">
            {{ lang_submit }}
        </button>
        
        <button class="catalog_aside-clean" onclick="BrainyFilter.reset(); return false;">
            {{ reset }}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 6L18 18M18 6L6 18" stroke="black" stroke-linecap="round" />
            </svg>
        </button>
    </form>
</div>
<script>
	var bfLang = {
show_more: '{{ lang_show_more }}',
show_less: '{{ lang_show_less }}',
empty_list: '{{ lang_empty_list }}'
};
BrainyFilter.requestCount = BrainyFilter.requestCount || {{ settings['behaviour']['product_count'] ? 'true' : 'false' }};
BrainyFilter.requestPrice = BrainyFilter.requestPrice || {{ settings['behaviour']['sections']['price']['enabled'] ? 'true' : 'false' }};
BrainyFilter.separateCountRequest = BrainyFilter.separateCountRequest || {{ postponedCount ? 'true' : 'false' }};
BrainyFilter.min = BrainyFilter.min || {{ priceMin }};
BrainyFilter.max = BrainyFilter.max || {{ priceMax }};
BrainyFilter.lowerValue = BrainyFilter.lowerValue || {{ lowerlimit }};
BrainyFilter.higherValue = BrainyFilter.higherValue || {{ upperlimit }};
BrainyFilter.currencySymb = BrainyFilter.currencySymb || '{{ currency_symbol }}';
BrainyFilter.hideEmpty = BrainyFilter.hideEmpty || {{ settings['behaviour']['hide_empty']|number_format }};
BrainyFilter.baseUrl = BrainyFilter.baseUrl || "{{ base }}";
BrainyFilter.currentRoute = BrainyFilter.currentRoute || "{{ currentRoute }}";
BrainyFilter.selectors = BrainyFilter.selectors || {
'container': '{{ settings['behaviour']['containerSelector'] }}',
'paginator': '{{ settings['behaviour']['paginatorSelector'] }}'
};{% if redirectToUrl %}
BrainyFilter.redirectTo = BrainyFilter.redirectTo || "{{ redirectToUrl }}";{% endif %}
jQuery(function () {
if (!BrainyFilter.isInitialized) {
BrainyFilter.isInitialized = true;
var def = jQuery.Deferred();
def.then(function () {
if ('ontouchend' in document && jQuery.ui) {
jQuery('head').append('<script src="catalog/view/javascript/jquery.ui.touch-punch.min.js"></script' + '>');
}
});
if (typeof jQuery.fn.slider === 'undefined') {
jQuery.getScript('catalog/view/javascript/jquery-ui.slider.min.js', function () {
def.resolve();
jQuery('head').append('<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/jquery-ui.slider.min.css" type="text/css" />');
BrainyFilter.init();
});
} else {
def.resolve();
BrainyFilter.init();
}
}
});
BrainyFilter.sliderValues = BrainyFilter.sliderValues || {};{% if filters|length %}
{% for i, section in filters %}
{% if section['array'] is defined and section['array']|length %}
{% for groupId, group in section['array'] %}
{% set groupUID = section['type']|slice(0, 1) ~ groupId %}
{% if group['type'] in ['slider', 'slider_lbl', 'slider_lbl_inp'] %}
BrainyFilter.sliderValues['{{ groupUID }}'] = {{ group['values']|json_encode() }};{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
</script>{% endif %}
