<section class="news">
	<div class="container">
		<h2 class="title">{{ heading_title }}</h2>
		<div
			class="news_wrapper">
			{# Вывод баннера из админки #}
			<div class="news_img">
				{% if promo_banners %}
					{% for banner in promo_banners %}
						{% if banner.link %}
							<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}"></a>
						{% else %}
							<img src="{{ banner.image }}" alt="{{ banner.title }}">
						{% endif %}
					{% endfor %}
				{% else %}
					{# Заглушка, если баннер не создан #}
					<img src="catalog/view/theme/lydiiase/assets/img/news_img.jpg" alt="Promo">
				{% endif %}
			</div>

			<div class="news_right">
				<div class="news_slider swiper">
					<div class="swiper-wrapper">
						{% for product in products %}
							<div class="news_slide swiper-slide">
								<div class="news_slide-img">
									<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" alt="{{ product.name }}">
									</a>
								</div>
								<div class="news_slide-top">
									<div class="news_slide-title">
										<a href="{{ product.href }}">{{ product.name }}</a>
									</div>
									<div class="news_slide-price">
										{% if not product.special %}
											{{ product.price }}
										{% else %}
											{{ product.special }}
										{% endif %}
									</div>
								</div>

								{# Оставляем HTML цветов (пока статика) #}
								<div class="catalog_item-colors">
									<div class="catalog_item-color" style="background: #62381C;"></div>
									<div class="catalog_item-color" style="background: #47581B;"></div>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="news_pagination"></div>
				</div>

				{# Кнопки навигации #}
				<div class="news_arrow prev">
					<img src="catalog/view/theme/lydiiase/assets/img/arrow_left.svg" alt="Prev">
				</div>
				<div class="news_arrow next">
					<img src="catalog/view/theme/lydiiase/assets/img/arrow_right.svg" alt="Next">
				</div>

				{# Ссылка на все новинки (обычно страница всех товаров или спец. категория) #}
				<a href="{{ latest_link|default('#') }}" class="news_right-link">Смотреть все</a>
			</div>
		</div>
	</div>
</section>
