<div class="simplecheckout-block" id="simplecheckout_cart" {{ hide ? 'data-hide="true"' : '' }} {{ has_error ? 'data-error="true"' : '' }}>
{% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_cart }} <span class="checkout-heading-button"><a href="javascript:void(0)" data-onclick="clearCart" class="text-danger" data-confirm-text="{{ text_clear_cart_question }}">{{ text_clear_cart }}</a></span></div>
{% endif %}
{% if attention %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ attention }}</div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ error_warning }}</div>
{% endif %}
    <div class="simplecheckout-cart-items">
    {% for product in products %}
        <div class="cart_item">
            <div class="cart_item-img">
                {% if product['thumb'] %}
                    <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}"></a>
                {% endif %}
            </div>
            <div class="cart_item-info">
                <div class="cart_item-title">
                    <a href="{{ product['href'] }}">{{ product['name'] }}</a>
                    {% if not product['stock'] and (config_stock_warning or not config_stock_checkout) %}<span class="product-warning">***</span>{% endif %}
                </div>

                {% if product['recurring'] is not empty %}
                    <div class="cart_item-option recurring">
                        <strong>{{ text_recurring_item }}</strong>
                        {{ product['profile_description'] }}
                    </div>
                {% endif %}

                {% for option in product['option'] %}
                    <div class="cart_item-option">{{ option['name'] }}: {{ option['value'] }}</div>
                {% endfor %}

                {% if product['reward'] %}
                    <div class="cart_item-option reward">{{ product['reward'] }}</div>
                {% endif %}
            </div>
            <div class="cart_item-counter">
                <button class="btn-dec" data-onclick="decreaseProductQuantity" type="button">-</button>
                <input type="text" name="quantity[{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}]" value="{{ product['quantity'] }}" data-onchange="changeProductQuantity" {{ quantity_step_as_minimum ? 'data-minimum="' ~ product['minimum'] ~ '"' : '' }}>
                <button class="btn-inc" data-onclick="increaseProductQuantity" type="button">+</button>
            </div>
            <div class="cart_item-price">
                {{ product['price'] }}
                {% if product['old_price'] is not empty %}
                    <span>{{ product['old_price'] }}</span>
                {% endif %}
            </div>
            <div class="cart_item-delete">
                <button data-onclick="removeProduct" data-product-key="{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}" type="button" class="btn-remove">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 14.625L13.5 5.625" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.5 14.625L4.5 5.625" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    {% endfor %}

    {% for voucher_info in vouchers %}
        <div class="cart_item">
            <div class="cart_item-img"></div>
            <div class="cart_item-info">
                <div class="cart_item-title">{{ voucher_info['description'] }}</div>
            </div>
            <div class="cart_item-counter">1</div>
            <div class="cart_item-price">{{ voucher_info['amount'] }}</div>
            <div class="cart_item-delete">
                 <button data-onclick="removeGift" data-gift-key="{{ voucher_info['key'] }}" type="button" class="btn-remove">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 14.625L13.5 5.625" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.5 14.625L4.5 5.625" stroke="#9E9E9E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    {% endfor %}
</div>

{% for total in totals %}
    <div class="simplecheckout-cart-total" id="total_{{ total['code'] }}">
        <span><b>{{ total['title'] }}:</b></span>
        <span class="simplecheckout-cart-total-value">{{ total['text'] }}</span>
        <span class="simplecheckout-cart-total-remove">
            {% if total['code'] == 'coupon' %}
                <i data-onclick="removeCoupon" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
            {% if total['code'] == 'voucher' %}
                <i data-onclick="removeVoucher" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
            {% if total['code'] == 'reward' %}
                <i data-onclick="removeReward" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
        </span>
    </div>
{% endfor %}
{% if modules['coupon'] is defined %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_coupon }}&nbsp;<input class="form-control" type="text" data-onchange="reloadAll" name="coupon" value="{{ coupon }}" /></span>
    </div>
{% endif %}
{% if modules['reward'] is defined and points > 0 %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_reward }}&nbsp;<input class="form-control" type="text" name="reward" data-onchange="reloadAll" value="{{ reward }}" /></span>
    </div>
{% endif %}
{% if modules['voucher'] is defined %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_voucher }}&nbsp;<input class="form-control" type="text" name="voucher" data-onchange="reloadAll" value="{{ voucher }}" /></span>
    </div>
{% endif %}
{% if modules['coupon'] is defined or (modules['reward'] is defined and points > 0) or modules['voucher'] is defined %}
    <div class="simplecheckout-cart-total simplecheckout-cart-buttons">
        <span class="inputs buttons"><a id="simplecheckout_button_cart" data-onclick="reloadAll" class="button btn-primary button_oc btn"><span>{{ button_update }}</span></a></span>
    </div>
{% endif %}
<input type="hidden" name="remove" value="" id="simplecheckout_remove">
<div style="display:none;" id="simplecheckout_cart_total">{{ cart_total }}</div>
{% if display_weight %}
    <div style="display:none;" id="simplecheckout_cart_weight">{{ weight }}</div>
{% endif %}
{% if not display_model %}
    <style>
    .simplecheckout-cart col.model,
    .simplecheckout-cart th.model,
    .simplecheckout-cart td.model {
        display: none;
    }
    </style>
{% endif %}
</div>
