<div class="cart_total">
    {% for total in totals %}
        {% if total.code == 'total' %}
            <div class="cart_total-value">{{ total.title }}: <span>{{ total.text }}</span></div>
        {% else %}
            <div class="cart_total-option">{{ total.title }}
                {% if 'без скидки' in total.title %}
                    <span class="old">{{ total.text }}</span>
                {% else %}
                    <span>{{ total.text }}</span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="cart_promo-wrapper">
    <input type="text" name="coupon" value="{{ coupon }}" class="cart_promo" placeholder="Ввести промокод" data-onchange="reloadAll">
    <button class="btn btn-update" data-onclick="reloadAll" id="simplecheckout_button_cart">Применить</button>
</div>
